.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  color: var(--main-color);
  color: white;
  margin-right: 5px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  &:hover {
    width: 325px;
    height: 320px;
    position: absolute;
    top: -165px;
    border-radius: 5px;

    box-shadow: 0 2px 15px 0px rgb(177, 175, 175);
    img {
      height: 140px;
    }
    video {
      width: 100%;
      height: 140px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    padding: 5px;

    .icons {
      display: flex;
      color: white;
      margin-bottom: 10px;

      .icon {
        border: 2px solid white;
        padding: 5px;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 1rem;
        cursor: pointer;
      }
    }
    .itemInfoTop {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
      color: gray;

      .limit {
        border: 1px solid gray;
        padding: 1px 3px;
        margin: 0 10px;
      }
    }
    .description {
      font-size: 13px;
      margin-bottom: 10px;
    }
    .genre {
      font-size: 14px;
      color: lightgray;
    }
  }
}
